name: Politician Wealth Bot

on:
  workflow_dispatch: # Leidžia paleisti rankiniu būdu

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run bot
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          WP_USERNAME: ${{ secrets.WP_USERNAME }}
          WP_APP_PASS: ${{ secrets.WP_APP_PASS }}
        run: python bot.py
